:root{
    --primary-orange: hsl(25, 97%, 53%);

    --neutral-light: hsl(217, 12%, 63%);
    --neutral-medium: hsl(216, 12%, 54%);
    --neutral-dark: hsl(213, 19%, 18%);
    --neutral-very-dark: hsl(216, 12%, 8%);
}